# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

build

*.b#*
*.s#*
*.top
*.bot
*.bsk
*.bsp
*.drd
*.dri
*.gpi
*.oln
*.slk
*.smb
*.smt
*.tsp


