#-*-Makefile-*- vim:syntax=make
TARGET = rpi

PFLAGS += -DPRINTFUART_ENABLED=1

$(call TOSMake_include_platform,rpi)
$(call TOSMake_include_make_platform,raspberrypi)

rpi: $(BUILD_DEPS)
	@: