#-*-Makefile-*- vim:syntax=make
PLATFORM = raspberrypi

#ifdef CC2520_CHANNEL
#PFLAGS += -DCC2520_DEF_CHANNEL=$(CC2520_CHANNEL)
#endif

PFLAGS += -I$(TOSROOTRPI)/tos/chips/rpi
PFLAGS += -I$(TOSROOTRPI)/tos/platforms/raspberrypi/chips/cc2520
PFLAGS += -I$(TOSROOTRPI)/tos/chips/cc2520rpi

$(call TOSMake_include_platform,raspberrypi)

raspberrypi: $(BUILD_DEPS)
	@:
